@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@theme {
	--font-roboto: 'Roboto', sans-serif;
}
@import 'tailwindcss';

/* Additional utility classes */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
